name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, labeled, edited]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.action }}
          echo ${{ github.action_status }}
          echo ${{ github.actor }}
          echo ${{ github.actor_id }}
          echo ${{ github.env }}
          echo ${{ github.event_path }}
          echo ${{ github.token }}
          echo ${{ github.workflow }}
          echo ${{ github.workspace }}
          echo ${{ vars.NEWVAR }}

      # - name: Get patterns
      #   if: ${{ vars.NEWVAR }}
      #   run: |
      #     echo `${{ toJson(github.event.issue.labels) }}`

      - name: Defining the library to update
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context)
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                const match = context.payload.issue.title.match(/^bump\s([^\s]+)/i)
                if (match) {
                  core.exportVariable('LIB_TO_UP', match[1])
                }
                break
              }
              case "labeled": {
                console.log("labeled")
                core.info('\u001b[31;46mRed foreground with a cyan background and \u001b[1mbold text at the end')
                break
              }
              default: {
                break
              }
            }

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        if: ${{ env.LIB_TO_UP }}
        with:
          version: 8
          run_install: false

      # - name: Print GitHub
      #   run: echo `${{ toJson(github) }}`

      # - name: Print GitHub Event
      #   run: echo `${{ toJson(github.event) }}`

      # - name: Print GitHub Secrets
      #   run: echo `${{ toJson(secrets) }}`

      - name: Bump ${{env.LIB_TO_UP}}
        if: ${{ env.LIB_TO_UP }}
        run: pnpm up ${{ env.LIB_TO_UP }}
