name: Update Dependency and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  defining-dependency:
    name: Defining the dependency to update
    if: ${{ vars.BUMP_REGEXP_PATTERN }}
    runs-on: ubuntu-latest

    steps:
      - name: Defining the dependency to update
        uses: actions/github-script@v7
        with:
          script: |
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            core.info(`Match String: "${matchString}"`)
            if (matchString) {
              const match = matchString.match(new RegExp("${{ vars.BUMP_REGEXP_PATTERN }}","i"))
              if (match) {
                core.exportVariable('DEPENDENCY_NAME', match[1])
                core.info(`The dependency name - matched: "${match[1]}"`)
              } else {
                core.info(`The dependency name not matched`)
              }
            }

      - name: Checkout
        if: env.DEPENDENCY_NAME
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        if: env.DEPENDENCY_NAME
        with:
          version: 8
          run_install: false

      - name: Restore cache node_modules
        if: env.DEPENDENCY_NAME
        id: restore-cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        if: env.DEPENDENCY_NAME && steps.restore-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile

      - name: Save cache node_modules
        if: env.DEPENDENCY_NAME && steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      # - name: Update ${{env.DEPENDENCY_NAME}}
      #   if: env.DEPENDENCY_NAME
      #   run: |
      #     {
      #       echo 'UPDATE_RESULT<<EOF'
      #       pnpm up ${{ env.DEPENDENCY_NAME }}
      #       echo EOF
      #     } >> "$GITHUB_ENV"

      - name: Update ${{env.DEPENDENCY_NAME}}
        if: env.DEPENDENCY_NAME
        id: parse-result
        uses: actions/github-script@v7
        with:
          script: |
            let _Output = ""
            try {
              await exec.exec('pnpm', ['up', '${{ env.DEPENDENCY_NAME }}'], {
                listeners: {
                  stdout: (data) => _Output += data.toString()
                }
              })
            } catch (e) {
              core.error(`pnpm up error ${e}`)
            }
            if (!_Output) return

            const currentVersion = _Output.match(/^\- ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            const updateVersion  = _Output.match(/^\+ ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            if (currentVersion && updateVersion) {
              const BUMP_FULL_NAME = `Bump ${{ env.DEPENDENCY_NAME }} from ${currentVersion[1]} to ${updateVersion[1]}`

              core.setOutput('DEPENDENCY_CURRENT_VERSION', currentVersion[1])
              core.setOutput('DEPENDENCY_UPDATE_VERSION', updateVersion[1])
              core.setOutput('BUMP_FULL_NAME', BUMP_FULL_NAME)
              core.exportVariable('BRANCH_NAME', BUMP_FULL_NAME.replace(/\s+/g, '-'))
            }

      - name: Check exists branch ${{env.BRANCH_NAME}}
        if: env.BRANCH_NAME && github.event_name == 'issues'
        uses: actions/github-script@v7
        with:
          script: |
            const {owner, repo} = context.repo
            try {
              const { data: branches } = await github.rest.repos.listBranches({
                owner,
                repo
              })
              const branchExists = branches.some(branch => branch.name === "${{ env.BRANCH_NAME }}");
              if (branchExists) {
                core.info(`The branch "${{ env.BRANCH_NAME }}" exists`)
              } else {
                core.info(`The branch "${{ env.BRANCH_NAME }}" doest not exist`)
                core.exportVariable('BRANCH_DOEST_NOT_EXIST', true)
              }
            } catch (e) {
              core.error(`listBranches error ${e}`)
            }

      - name: Create PR for `issue`
        if: env.BRANCH_DOEST_NOT_EXIST && github.event_name == 'issues'
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Updated ${{ env.DEPENDENCY_NAME }}
          branch: ${{ env.BRANCH_NAME }}
          delete-branch: true
          title: ${{ steps.parse-result.outputs.BUMP_FULL_NAME }}
          body: |
            Update ${{ env.DEPENDENCY_NAME }}

      - name: Push Commit for exists branch
        if: env.DEPENDENCY_NAME && github.event_name == 'pull_request'
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git fetch
          git checkout ${{ github.head_ref }}
          git commit -am "Updated ${{ env.DEPENDENCY_NAME }} to ${{ steps.parse-result.outputs.DEPENDENCY_UPDATE_VERSION }}"
          git pull origin ${{ github.head_ref }}
          git push origin HEAD:${{ github.head_ref }}

      - name: test
        run: |
          echo `${{ toJson(steps) }}`
          echo `${{ toJson(vars) }}`
          echo `${{ toJson(github) }}`
