name: Update Dependency and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  defining-dependency:
    name: Defining the dependency to update
    runs-on: ubuntu-latest

    steps:
      - name: Defining the dependency to update
        uses: actions/github-script@v7
        id: defining-dependency
        with:
          script: |
            console.log(context)
            console.log(context.payload.issue.user)
            console.log(context.repo)
            const bumpReg = /^bump\s([^\s]+)/i
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            if (matchString) {
              const match = matchString.match(bumpReg)
              if (match) {
                core.exportVariable('DEPENDENCY_NAME', match[1])
                core.setOutput('DEPENDENCY_NAME', match[1])
              }
            }

      - name: Checkout
        if: env.DEPENDENCY_NAME
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        if: env.DEPENDENCY_NAME
        with:
          version: 8
          run_install: false

      - name: Restore cache node_modules
        if: env.DEPENDENCY_NAME
        id: restore-cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile

      - name: Save cache node_modules
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Update ${{env.DEPENDENCY_NAME}}
        if: env.DEPENDENCY_NAME
        run: |
          {
            echo 'UPDATE_RESULT<<EOF'
            pnpm up ${{ env.DEPENDENCY_NAME }}
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Parse result of update
        if: env.UPDATE_RESULT
        uses: actions/github-script@v7
        with:
          script: |
            const matchCurrentVersion = `${{ env.UPDATE_RESULT }}`.match(/^\- ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            const matchUpdateVersion = `${{ env.UPDATE_RESULT }}`.match(/^\+ ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            if (matchCurrentVersion && matchUpdateVersion) {
              const BUMP_FULL_NAME = `Bump ${{ env.DEPENDENCY_NAME }} from ${matchCurrentVersion[1]} to ${matchUpdateVersion[1]}`
              const {owner, repo} = context.repo
              const {sha} = context
              const branchName = BUMP_FULL_NAME.replace(/\s+/g, '-')
              try {
                const { data: branches } = await github.rest.repos.listBranches({
                  owner,
                  repo,
                })
                const branchExists = branches.some(branch => branch.name === branchName);
                if (branchExists) {
                  console.log(`The branch ${branchName} exists`)
                } else {
                  console.log(`The branch ${branchName} doest not exist`)
                  core.exportVariable('BRANCH_DOEST_NOT_EXIST', BUMP_FULL_NAME)
                }
              } catch (e) {
                console.log(`error`, e)
              }
            }

      - name: Create PR for `issue`
        if: env.BRANCH_DOEST_NOT_EXIST && github.event_name == 'issues'
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Update
          branch: ${{ (echo "${{ env.BRANCH_DOEST_NOT_EXIST }}" | sed 's/\s\+/-/g') }}
          delete-branch: true
          title: ${{ env.BRANCH_DOEST_NOT_EXIST }}
          body: |
            Update report
            - Updated with *today's* date
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request

        # run: |
        #   branch_name=$(echo "${{ env.BRANCH_DOEST_NOT_EXIST }}" | sed 's/\s\+/-/g')
        #   git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        #   git config --global user.name "${{ github.actor }}"
        #   git checkout -b "$branch_name"
        #   git commit -am "Updated ${{env.DEPENDENCY_NAME}}"
        #   git push origin "$branch_name"

      # - name: Create PR for `issue`
      #   if: github.event_name == 'issues'

  # job2:
  #   name: Create PR for `issue`
  #   if: github.event_name == 'issues'
  #   runs-on: ubuntu-latest
  #   needs: job1
  #   steps:
  #     - name: test
  #       run: |
  #         echo `${{ toJson(github) }}`
  #         echo `${{ toJson(env) }}`
  #         echo `${{ toJson(needs.job1.outputs) }}`

  # job3:
  #   name: Push commit to exist branch for pull_request
  #   if: github.event_name == 'pull_request'
  #   runs-on: ubuntu-latest
  #   needs: job1
  #   steps:
  #     - env:
  #         OUTPUT1: ${{needs.defining-and-update-dependency.outputs.output1}}
  #         OUTPUT2: ${{needs.defining-and-update-dependency.outputs.output2}}
  #       run: echo "$OUTPUT1 $OUTPUT2"
