name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  defining-and-update-dependency:
    name: Defining the dependency to update
    runs-on: ubuntu-latest

    steps:
      - name: Defining the dependency to update
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context)
            console.log(context.payload.issue.user)
            const bumpReg = /^bump\s([^\s]+)/i
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            if (matchString) {
              const match = matchString.match(bumpReg)
              if (match) {
                core.exportVariable('LIB_TO_UP', match[1])
              }
            }
      - name: Checkout & Install pnpm
        if: env.LIB_TO_UP
        uses: actions/checkout@v4
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Restore cache node_modules
        if: env.LIB_TO_UP
        id: restore-cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile

      - name: Save cache node_modules
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Update ${{env.LIB_TO_UP}}
        if: env.LIB_TO_UP
        run: |
          {
            echo 'UPDATE_RESULT<<EOF'
            pnpm up ${{ env.LIB_TO_UP }}
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Parse of update result
        if: env.UPDATE_RESULT
        uses: actions/github-script@v7
        with:
          script: |
            const matchCurrentVersion = `${{ env.UPDATE_RESULT }}`.match(/^\- ${{ env.LIB_TO_UP }} ([\S]+)/m)
            const matchUpdateVersion = `${{ env.UPDATE_RESULT }}`.match(/^\+ ${{ env.LIB_TO_UP }} ([\S]+)/m)
            console.log("matchCurrentVersion"+ matchCurrentVersion)
            console.log("matchUpdateVersion"+ matchUpdateVersion)

  create-pull-request:
    name: Create Pull request for issue
    if: github.event_name == 'issue'
    runs-on: ubuntu-latest
    needs: defining-and-update-dependency
    steps:
      - env:
          OUTPUT1: ${{needs.defining-and-update-dependency.outputs.output1}}
          OUTPUT2: ${{needs.defining-and-update-dependency.outputs.output2}}
        run: echo "$OUTPUT1 $OUTPUT2"

  push-commit-to-exist-branch:
    name: Push commit to exist branch for pull_request
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: defining-and-update-dependency
    steps:
      - env:
          OUTPUT1: ${{needs.defining-and-update-dependency.outputs.output1}}
          OUTPUT2: ${{needs.defining-and-update-dependency.outputs.output2}}
        run: echo "$OUTPUT1 $OUTPUT2"
