name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, labeled, edited]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.action }}
          echo ${{ github.action_status }}
          echo ${{ github.actor }}
          echo ${{ github.actor_id }}
          echo ${{ github.env }}
          echo ${{ github.event_path }}
          echo ${{ github.token }}
          echo ${{ github.workflow }}
          echo ${{ github.workspace }}
          echo ${{ vars.NEWVAR }}

      # - name: Get patterns
      #   if: ${{ vars.NEWVAR }}
      #   run: |
      #     echo `${{ toJson(github.event.issue.labels) }}`

      - name: Defining the library to update
        uses: actions/github-script@v7
        if: ${{ vars.BUMP_PATTERNS }}
        with:
          script: |
            console.log("${{ vars.BUMP_PATTERNS }}")
            core.info('\u001b[31;46mRed foreground with a cyan background and \u001b[1mbold text at the end')
            console.log(context)
            core.exportVariable('envVar', 'Val1111')
            const patternsReg = new RegExp("@\\b(${{ vars.BUMP_PATTERNS }})\\b", "ig")
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                const match = context.payload.issue.title.match(patternsReg)
                console.log("---match", match)
                break
              }
              case "labeled": {
                console.log("labeled")
                break
              }
              default: {
                break
              }
            }

      # - uses: pnpm/action-setup@v2
      #   name: Install pnpm
      #   with:
      #     version: 8
      #     run_install: false

      - name: Print Node v
        run: node -v

      # - name: Print GitHub
      #   run: echo `${{ toJson(github) }}`

      # - name: Print GitHub Event
      #   run: echo `${{ toJson(github.event) }}`

      # - name: Print GitHub Secrets
      #   run: echo `${{ toJson(secrets) }}`

      - name: Print ${{env.envVar}}
        run: echo `${{ env.envVar }}`
