name: Update Dependency and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  defining-dependency:
    name: Defining the dependency to update
    if: ${{ vars.BUMP_REGEXP_PATTERN }}
    runs-on: ubuntu-latest

    steps:
      - name: Defining the dependency to update
        uses: actions/github-script@v7
        with:
          script: |
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            core.info(`Match String: "${matchString}"`)
            if (matchString) {
              const match = matchString.match(new RegExp("${{ vars.BUMP_REGEXP_PATTERN }}","i"))
              if (match) {
                core.exportVariable('DEPENDENCY_NAME', match[1])
                core.info(`The dependency name - matched: "${match[1]}"`)
              } else {
                core.info(`The dependency name not matched`)
              }
            }

      - name: Checkout
        if: env.DEPENDENCY_NAME
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        if: env.DEPENDENCY_NAME
        with:
          version: 8
          run_install: false

      - name: Restore cache node_modules
        if: env.DEPENDENCY_NAME
        id: restore-cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        if: env.DEPENDENCY_NAME && steps.restore-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile

      - name: Save cache node_modules
        if: env.DEPENDENCY_NAME && steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Update ${{env.DEPENDENCY_NAME}}
        if: env.DEPENDENCY_NAME
        run: |
          {
            echo 'UPDATE_RESULT<<EOF'
            pnpm up ${{ env.DEPENDENCY_NAME }}
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Parse result of update
        if: env.UPDATE_RESULT
        id: parse-result
        uses: actions/github-script@v7
        with:
          script: |
            const matchCurrentVersion = `${{ env.UPDATE_RESULT }}`.match(/^\- ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            const matchUpdateVersion = `${{ env.UPDATE_RESULT }}`.match(/^\+ ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            if (matchCurrentVersion && matchUpdateVersion) {
              core.setOutput('DEPENDENCY_CURRENT_VERSION', matchCurrentVersion[1])
              core.setOutput('DEPENDENCY_UPDATE_VERSION', matchUpdateVersion[1])
              const BUMP_FULL_NAME = `Bump ${{ env.DEPENDENCY_NAME }} from ${matchCurrentVersion[1]} to ${matchUpdateVersion[1]}`
              const {owner, repo} = context.repo
              const branchName = BUMP_FULL_NAME.replace(/\s+/g, '-')
              core.setOutput('BRANCH_NAME', branchName)
              try {
                const { data: branches } = await github.rest.repos.listBranches({
                  owner,
                  repo,
                })
                const branchExists = branches.some(branch => branch.name === branchName);
                if (branchExists) {
                  core.info(`The branch "${branchName}" exists`)
                } else {
                  core.info(`The branch "${branchName}" doest not exist`)
                  core.exportVariable('BRANCH_DOEST_NOT_EXIST', BUMP_FULL_NAME)
                }
              } catch (e) {
                console.log(`error`, e)
              }
            }

      - name: Create PR for `issue`
        if: env.BRANCH_DOEST_NOT_EXIST && github.event_name == 'issues'
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Updated ${{env.DEPENDENCY_NAME}}
          branch: ${{ steps.parse-result.outputs.BRANCH_NAME }}
          delete-branch: true
          title: ${{ env.BRANCH_DOEST_NOT_EXIST }}

      - name: Push Commit for exists branch NOT IMPLEMENTED YET
        if: env.DEPENDENCY_NAME && github.event_name == 'pull_request'
        run: |
          git status
          git branch
          git ls-remote --heads origin
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git commit -am "Updated ${{env.DEPENDENCY_NAME}}"
          git push

      - name: test
        run: |
          echo `${{ toJson(github) }}`
          echo `${{ toJson(vars) }}`
          echo `${{ toJson(steps) }}`
