name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Defining the library to update
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context)
            console.log(context.payload.issue.user)
            const bumpReg = /^bump\s([^\s]+)/i
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            if (matchString) {
              const match = matchString.match(bumpReg)
              if (match) {
                core.exportVariable('LIB_TO_UP', match[1])
              }
            }
      - name: Checkout
        if: ${{ env.LIB_TO_UP }}
        uses: actions/checkout@v4

      - name: Install pnpm
        if: ${{ env.LIB_TO_UP }}
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Bump ${{env.LIB_TO_UP}}
        if: ${{ env.LIB_TO_UP }}
        run: |
          {
            echo 'UPDATE_RESULT<<EOF'
            pnpm up ${{ env.LIB_TO_UP }}
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Output prev step
        if: ${{ env.UPDATE_RESULT }}
        run: echo ${{ env.UPDATE_RESULT }}
