name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, labeled, edited]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.action }}
          echo ${{ github.action_status }}
          echo ${{ github.actor }}
          echo ${{ github.actor_id }}
          echo ${{ github.env }}
          echo ${{ github.event_path }}
          echo ${{ github.token }}
          echo ${{ github.workflow }}
          echo ${{ github.workspace }}
          echo ${{ vars.NEWVAR }}

      - name: Get patterns
        if: ${{ vars.NEWVAR }}
        run: |
          echo `${{ toJson(github.event.issue.labels) }}`

      - name: View context attributes
        uses: actions/github-script@v7
        if: ${{ vars.NEWVAR }}
        with:
          script: |
            console.log(github)

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Print Node v
        run: node -v

      - name: Print GitHub
        run: echo `${{ toJson(github) }}`

      - name: Print GitHub Event
        run: echo `${{ toJson(github.event) }}`

      - name: Print GitHub Secrets
        run: echo `${{ toJson(secrets) }}`
