name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, labeled, edited]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.action }}

      - name: Print GitHub Event
        run: echo "${{ toJson(github.event) }}"

      - name: Print GitHub Secrets
        run: echo ${{ toJson(secrets) }}
