name: Update Dependency and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  defining-dependency:
    name: Defining the dependency to update
    if: ${{ vars.BUMP_REGEXP_PATTERN }}
    runs-on: ubuntu-latest

    steps:
      - name: Defining the dependency to update
        uses: actions/github-script@v7
        with:
          script: |
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            core.info(`Match String: "${matchString}"`)
            if (matchString) {
              const match = matchString.match(new RegExp("${{ vars.BUMP_REGEXP_PATTERN }}","i"))
              if (match) {
                core.exportVariable('DEPENDENCY_NAME', match[1])
                core.info(`The dependency name - matched: "${match[1]}"`)
              } else {
                core.info(`The dependency name not matched`)
              }
            }

      - name: Checkout
        if: env.DEPENDENCY_NAME
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        if: env.DEPENDENCY_NAME
        with:
          version: 8
          run_install: false

      - name: Restore cache node_modules
        if: env.DEPENDENCY_NAME
        id: restore-cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        if: env.DEPENDENCY_NAME && steps.restore-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile

      - name: Save cache node_modules
        if: env.DEPENDENCY_NAME && steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Extract ${{env.DEPENDENCY_NAME}} Version
        if: env.DEPENDENCY_NAME
        id: extract_version
        run: |
          VERSION=$(npm list | grep ${{env.DEPENDENCY_NAME}} | awk -F '@' '{print $3}' | awk '{print $1}')
          echo "DEPENDENCY_CURRENT_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Update ${{env.DEPENDENCY_NAME}}
        if: env.DEPENDENCY_NAME
        id: parse-result
        run: pnpm up "*${{ env.DEPENDENCY_NAME }}"

      - name: Get Updated Version
        if: env.DEPENDENCY_NAME
        run: |
          UPDATED_VERSION=$(npm list | grep ${{ env.DEPENDENCY_NAME }} | awk -F '@' '{print $3}' | awk '{print $1}')
          echo "UPDATED_VERSION=$UPDATED_VERSION" >> $GITHUB_ENV

      - name: Generate Branch Name
        run: |
          dependencyName=
          updatedVersion=
          BRANCH_NAME="update-${{ env.DEPENDENCY_NAME }}-from-${{ env.DEPENDENCY_CURRENT_VERSION }}-to-${{ env.UPDATED_VERSION }}"
          BRANCH_NAME=$(echo "$BRANCH_NAME" | sed 's/ /-/g') # Replace spaces with hyphens if any
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

      - name: Check exists branch ${{env.BRANCH_NAME}}
        if: env.BRANCH_NAME && github.event_name == 'issues'
        uses: actions/github-script@v7
        with:
          script: |
            const {owner, repo} = context.repo
            try {
              const { data: branches } = await github.rest.repos.listBranches({
                owner,
                repo
              })
              const branchExists = branches.some(branch => branch.name === "${{ env.BRANCH_NAME }}");
              if (branchExists) {
                core.info(`The branch "${{ env.BRANCH_NAME }}" exists`)
              } else {
                core.info(`The branch "${{ env.BRANCH_NAME }}" doest not exist`)
                core.exportVariable('BRANCH_DOEST_NOT_EXIST', true)
              }
            } catch (e) {
              core.error(`listBranches error ${e}`)
            }

      - name: Create PR for issue ${{ github.event.issue.number }}
        if: env.BRANCH_DOEST_NOT_EXIST && github.event_name == 'issues'
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: close #${{ github.event.issue.number }}
          branch: ${{ env.BRANCH_NAME }}
          delete-branch: true
          title: ${{ env.BRANCH_NAME }}
          body: |
            update ${{ env.DEPENDENCY_NAME }} from ${{ env.DEPENDENCY_CURRENT_VERSION }} to ${{ env.UPDATED_VERSION }}
            close #${{ github.event.issue.number }}

      - name: Push Commit for exists branch
        if: env.DEPENDENCY_NAME && github.event_name == 'pull_request'
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git fetch
          git checkout ${{ github.head_ref }}
          git commit -am "update ${{ env.DEPENDENCY_NAME }}"
          git pull origin ${{ github.head_ref }}
          git push origin HEAD:${{ github.head_ref }}
