name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, edited, labeled]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

      - name: Defining the library to update
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context)
            console.log(context.payload.issue.user)

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        if: ${{ env.LIB_TO_UP }}
        with:
          version: 8
          run_install: false

      - name: Bump ${{env.LIB_TO_UP}}
        if: ${{ env.LIB_TO_UP }}
        id: bump_library
        run: pnpm up ${{ env.LIB_TO_UP }}
      
      # - name: Output prev step
      #   run: echo ${{steps.bump_library.outputs}}
