name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, labeled, edited]

jobs:
  update-and-create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.action }}
          echo ${{ github.action_status }}
          echo ${{ github.actor }}
          echo ${{ github.actor_id }}
          echo ${{ github.env }}
          echo ${{ github.event_path }}
          echo ${{ github.token }}
          echo ${{ github.workflow }}
          echo ${{ github.workspace }}
          echo ${{ github.env.NEWVAR }}

      - name: Print GitHub Event
        run: echo "${{ toJson(github.event) }}"

      - name: Print GitHub Secrets
        run: echo "${{ toJson(secrets) }}"

      - name: Print GitHub Env
        run: echo "${{ toJson(github.env) }}"

    # - name: Checkout Repository
    #   uses: actions/checkout@v3
    #   with:
    #     fetch-depth: 0
    #     ref: Stage

    # - name: Setup Node.js
    #   uses: actions/setup-node@v2
    #   with:
    #     node-version: '14'

    # - name: Check Issue Content and Update Dependency
    #   run: |
    #     issue_content=$(jq --raw-output .issue.body "$GITHUB_EVENT_PATH")
    #     if [[ $issue_content == *"Bump api4"* ]]; then
    #       npm update @poolzfinance/api4
    #     elif [[ $issue_content == *"Bump reacthelper"* ]]; then
    #       npm update @poolzfinance/reacthelper
    #     fi

    # - name: Commit and Push Changes
    #   run: |
    #     git config --global user.name 'Your Name'
    #     git config --global user.email 'your-email@example.com'
    #     git checkout -b new-branch-name
    #     git add .
    #     git commit -m "Updated dependencies"
    #     git push origin new-branch-name

    # - name: Create Pull Request
    #   uses: repo-sync/pull-request@v2
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     pr_title: "Update Dependencies"
    #     pr_body: "This PR updates dependencies based on the issue."
    #     pr_branch: new-branch-name
