name: Update Dependencies and Create PR

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [labeled]

jobs:
  job1:
    name: Defining the dependency to update
    runs-on: ubuntu-latest

    steps:
      - name: Defining the dependency to update
        uses: actions/github-script@v7
        id: defining-dependency
        with:
          script: |
            console.log(context)
            console.log(context.payload.issue.user)
            const bumpReg = /^bump\s([^\s]+)/i
            let matchString = ""
            switch (context.payload.action) {
              case "edited":
              case "opened": {
                matchString = context.payload.issue.title
                break
              }
              case "labeled": {
                matchString = context.payload.label.description
                break
              }
              default: {
                break
              }
            }
            if (matchString) {
              const match = matchString.match(bumpReg)
              if (match) {
                core.exportVariable('DEPENDENCY_NAME', match[1])
                core.setOutput('DEPENDENCY_NAME', match[1])
              }
            }

      - name: test steps
        run: |
          echo `${{ toJson(steps) }}`

      - name: Checkout
        if: env.DEPENDENCY_NAME
        uses: actions/checkout@v4

      - name: Display git config
        run: cat .git/config

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        if: env.DEPENDENCY_NAME
        with:
          version: 8
          run_install: false

      - name: Restore cache node_modules
        if: env.DEPENDENCY_NAME
        id: restore-cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile

      - name: Save cache node_modules
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Update ${{env.DEPENDENCY_NAME}}
        if: env.DEPENDENCY_NAME
        run: |
          {
            echo 'UPDATE_RESULT<<EOF'
            pnpm up ${{ env.DEPENDENCY_NAME }}
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Parse result of update
        if: env.UPDATE_RESULT
        uses: actions/github-script@v7
        with:
          script: |
            const matchCurrentVersion = `${{ env.UPDATE_RESULT }}`.match(/^\- ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            const matchUpdateVersion = `${{ env.UPDATE_RESULT }}`.match(/^\+ ${{ env.DEPENDENCY_NAME }} ([\S]+)/m)
            if (matchCurrentVersion && matchUpdateVersion) {
                core.exportVariable('LIB_V_FROM', matchCurrentVersion[1])
                core.exportVariable('LIB_V_TO', matchUpdateVersion[1])
            }
            console.log("matchCurrentVersion"+ matchCurrentVersion)
            console.log("matchUpdateVersion"+ matchUpdateVersion)

      - name: Commit and Push Changes
        if: env.LIB_V_FROM && env.LIB_V_TO
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          branch_name="bumps-${{ env.DEPENDENCY_NAME }}-${{ env.LIB_V_FROM }}-${{ env.LIB_V_TO }}"
          if [ "${{ github.event_name }}" = "issues" ]; then
            if [ git ls-remote --heads origin | grep -q "$branch_name" ]; then
              echo "The $branch_name branch already exists in the remote repository."
            else
              git config --global user.email "${{ github.actor }}@users.noreply.github.com"
              git config --global user.name "${{ github.actor }}"
              git pull origin "$branch_name"
              git checkout -b "$branch_name"
              git commit -am "Updated ${{ env.LIB_TO_UP }} dependency"
              git push origin "$branch_name"
            fi
          fi

      # - name: Create PR for `issue`
      #   if: github.event_name == 'issues'

  # job2:
  #   name: Create PR for `issue`
  #   if: github.event_name == 'issues'
  #   runs-on: ubuntu-latest
  #   needs: job1
  #   steps:
  #     - name: test
  #       run: |
  #         echo `${{ toJson(github) }}`
  #         echo `${{ toJson(env) }}`
  #         echo `${{ toJson(needs.job1.outputs) }}`

  # job3:
  #   name: Push commit to exist branch for pull_request
  #   if: github.event_name == 'pull_request'
  #   runs-on: ubuntu-latest
  #   needs: job1
  #   steps:
  #     - env:
  #         OUTPUT1: ${{needs.defining-and-update-dependency.outputs.output1}}
  #         OUTPUT2: ${{needs.defining-and-update-dependency.outputs.output2}}
  #       run: echo "$OUTPUT1 $OUTPUT2"
